[user]
	email = {{ .email }}
	name = {{ .name }}

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
	ui = true
  pager = true
[pager]
	branch = false
[init]
	defaultBranch = main

